
*/15	*	*	*	*	/root/bin/adblock-restart.sh quick-check >/dev/null 2>&1
15	1	*	*	0	/root/bin/adblock-restart.sh update >/dev/null 2>&1

10	4	10	*	* 	/root/bin/opkg-upgrade.sh >/dev/null 2>&1
10	5	10	*	*	sleep 70 && touch /etc/banner && /sbin/reboot >/dev/null 2>&1
#10	6	10	*	* 	/root/bin/opkg-upgrade.sh >/dev/null 2>&1
